[push]
	default = simple
[user]
	name = Leo Hui
	email = leohxj@gmail.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	mm = merge --no-ff
	last = "log -1 HEAD"
	ll = "log --pretty=oneline --graph"
	unstage = "reset HEAD --"
[http "http://github.com/"]
    proxy = {{proxy}}
[http "https://github.com/"]
    proxy = {{proxy}}

[http]
	proxy=""
